* {
    /* border: 1px solid red; */
}

body {
     background-image: url("images/body-background.jpg");
     /* color: red; */
     font-weight: bold;
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; */
     margin-top: 0;
     margin-bottom: 0;
}

#introduction-section {
  margin-top: 40px;
  
}

#introduction-div p {
    font-size: 30px;
    /* margin-bottom: 70px; */
    
}

#results-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#results-div p {
    font-size: 40px;
}

#scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    height: 100px;
    font-size: 30px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

#buttons button {
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
    /* background: red; */
}

/* ill come back to you */
 button:disabled {
    background: rgb(255, 206, 206);
    opacity: 0.5;
    cursor: not-allowed;
}

#reset-and-quit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

#reset-and-quit button {
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
}