/* * {
    border: 1px solid red;
} */

body {
     background-image: url("images/body-background.jpg");
     font-weight: bold;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 0;
     margin-bottom: 0;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
     
}

#introduction-section {
    width: 800px;
  
}

#introduction-div p {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: justify;
    color: wheat;
    
}

#results-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}

#results-div p {
    font-size: 40px;
    color: rgb(241, 234, 221);
}

#scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    height: 100px;
    font-size: 30px;
    padding: 0 50px;
    color: rgb(243, 119, 119);
    border: 5px solid whitesmoke;
    font-family: 'Orbitron', sans-serif;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

#buttons button {
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(206, 11, 11);
    color: rgb(241, 210, 153);
}

#buttons button:hover {
    color: rgb(244, 236, 230);
}

#buttons button:active {
    color: white;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

 #buttons button:disabled {
    color: wheat;
    opacity: 0.5;
    cursor: not-allowed;
}

#reset-and-quit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

#reset-and-quit button {
    padding: 13px;
    font-size: 20px;
    border-radius: 5px;
    background-color: wheat;
    color: black
}

#reset-and-quit button:active {
    color: white;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

 #reset-and-quit button:disabled {
    background-color:  rgb(107, 96, 76);
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}